@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Carter+One&family=Delius+Unicase&family=Kdam+Thmor+Pro&family=Road+Rage&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.maateen.me/charukola-ultra-light/font.css');
@import url('https://fonts.maateen.me/ekushey-lohit/font.css');
@import url('https://fonts.maateen.me/mukti/font.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 260px 51px;
}
.poem-show-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1rem;
  padding: 1rem;
  @apply place-items-center justify-items-center;
}
.poem-card {
  width: clamp(10%, 350px, 95%);
  height: 250px;
}

.author-card {
  width: clamp(55%, 420px, 98%);
}
.poem-div {
  width: clamp(90%, 1000px, 98%);
}

.center-absolute {
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
.lenear-animation {
  animation-timing-function: linear;
}
.poem-card-style:hover .poem-card-show {
  z-index: 20;
  height: 100%;
  width: 100%;
  opacity: 1;
}
.rotate-angle {
  left: 52%;
  top: 58%;
  translate: -50% -50%;
  animation-name: angle-rotate;
  animation-duration: 15s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  z-index: 1;
}
@keyframes angle-rotate {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
.stroke-text {
  -webkit-text-stroke: 1px black;
}
.letter-space {
  letter-spacing: 6px;
}
.login-form-width {
  width: clamp(30%, 350px, 97%);
}
.thought-card-width {
  width: clamp(30%, 650px, 97%);
}
.about-card-width {
  width: clamp(30%, 700px, 98%);
}